@use '/src/styles/variables' as v;

.roofing-main {
    position: relative;
    text-align: center;
    height: 40em; 
  }
  
  .roofing-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: relative;
    top: 3em;
    opacity: 0.6;
  }
  
  .roofing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.8);
  }
  
  .roofing-text h1 {
    font-size: 3rem; 
  }
  
  .roofing-text h2 {
    font-size: 1.5rem; 
  }
  
  .roofing-section {
    background-color: white;
    padding: 2.5em 1.25em; 
    position: relative;
    z-index: 0;
  }