@use '/src/styles/variables' as v;

.fabrication-main {
    position: relative;
    text-align: center;
    height: 40em; 
  }
  
  .fabrication-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: relative;
    top: 1em;
  }
  
  .fabrication-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.8);
  }
  
  .fabrication-text h1 {
    font-size: 3rem; 
  }
  
  .fabrication-text h2 {
    font-size: 1.5rem; 
  }
  
  
  .fabrication-section {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(61,62,71,1) 100%);
    padding: 2.5em 1.25em; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }

  .fabrication-paragraph {
    margin-bottom: 2em;
    text-align: center;
    padding: 0em 20em 0em 20em;
  }

  .fabrication-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: auto; 
    gap: 1em;
    margin-top: 3em;
    padding: 1em;
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fabrication-gallery img {
    object-fit: cover;
  }