@use '/src/styles/variables' as v;

.navbar {
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
  height: 52px;
  width: 100%;
  position: absolute;
  top: 4.3em;
  z-index: 50;
  font-family: v.$text;

  .menu {
    padding: 0.5em;
    color: v.$green;
    position: relative;
    transition: color 0.3s ease;

    &--active {
      color: v.$red;
      font-size: larger;
      text-transform: capitalize;
    }

    &:hover {
      color: v.$red;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: v.$red;
      transition: width 0.5s ease;
      transform-origin: bottom center;
    }

    &:hover::after {
      width: 100%;
    }
  }


  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    width: 35%;
    height: 40%;
    background-color: v.$black;
    left: 65%;
    z-index: 50;

    &.show-menu {
      display: flex; 
    }

    .menu {
      width: 100%;
      text-align: center;
      padding: 1em;
      color: v.$green;
    }
  }
}

.hamburger {
  display: none; 
  z-index: 4;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 28px;
  right: 13px;

  .burger-icon.close {
    width: 40px;
    height: 40px;
    margin-left: 45px;
  }

  .close {
    content: url('/src/assets/logos/close-icon.png');
  }

  .open {
    content: url('/src/assets/logos/burger-icon.png');
    width: 1.7em;
    height: 1.7em;
    margin-left: 3em;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}