/* Colors */
$black: #000000;
$blue-grey: #3d3e47;
$grey: #585858;
$light-grey: #7c7c84;
$dark-grey: #323232;
$dark-green: #345733;
$green: #577c4d;
$light-green: #68895c;
$dark-red: #a60d22;
$red: #c51c2c;
$light-red: #d91e30;
$yellow: #ffcc00;
$white: #ffffff;

/* Fonts */
$paragraph: 'Oswald-Light';
$headings: 'Oswald-Bold';
$text: 'Oswald';
