@use 'reset';
@use '/src/styles/variables' as v;

/* Oswald - Regular */
@font-face {
  font-display: swap; 
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Oswald-Regular.ttf') format('truetype');
}

/* Oswald - Light */
@font-face {
  font-display: swap; 
  font-family: 'Oswald-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Oswald-Light.ttf') format('truetype');
}

/* Oswald - Bold */
@font-face {
  font-display: swap; 
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Oswald-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: v.$black;
  padding-bottom: 4em; 
}

a {
  text-decoration: none;
} 

h1 {
  font-family: v.$headings;
  color: v.$light-green;
  font-size: 4em;
  text-align: center;
  text-shadow: 1.8px 1.8px 0 hsl(199, 18%, 20%);
  margin-bottom: 0.5em; 
  @media (min-width: 768px) {
    margin-top: 1em;
  }
}

h2 {
  font-family: v.$text;
  color: v.$light-grey;
  font-size: 2em;
  text-align: center;
  text-shadow: 1.8px 1.8px 0 hsl(199, 18%, 20%);
  margin-bottom: 1em; 
}

p {
  font-family: v.$paragraph;
  font-size: 1.5em;
  color: v.$green;
  text-shadow: 
  3px 3px 6px rgba(0, 0, 0, 0.9), 
  -2px -2px 4px rgba(0, 0, 0, 0.7);
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, v.$light-green, v.$green, v.$dark-green);
    border-radius: 0.5em;
    box-shadow: 0 2.25px 4.5px rgba(0, 0, 0, 0.1);
    color: v.$white;
    cursor: pointer;
    font-family: v.$text;
    margin: 0.5em; 
    height: 4em; 
    width: 60%; 
    line-height: 1em;
    outline: none;
    text-align: center;
    vertical-align: middle;
    border: 0;
    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) {
      width: 30%;
      margin: 1em;
    }
  }

button:hover {
    color: v.$yellow; 
    transform: scale(1.1);
    box-shadow: 0 4.5px 9px rgba(0, 0, 0, 0.2);
}

.button-container {
  position: absolute;
  bottom: -2.5em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 60%; 
}
