@use '/src/styles/variables' as v;

.home-box {
  border: solid v.$grey 0.1em;
  margin: 4em;
  padding: 1.2em;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.home-title {
  color: v.$light-green;
  font-size: 1em;
}

@media (min-width: 768px) {
  .home-section {
    margin-top: 3em;
    background-size: cover;
  }
  .home-title {
    font-size: 5em;
  }
}